<%- include('header',{
    title:'Login'
}); -%>

<div class="container">
    <h1>Login</h1>
    <form action="" method="POST">
        <label for="user_email">Login</label>
        <input type="name" class="input" name="_name" autocomplete="off" id="user_name" placeholder="Enter your login">
        <label for="user_pass">Password</label>
        <input type="password" class="input" name="_password" id="user_pass" placeholder="Enter new password">
        <% if(typeof error !== 'undefined'){ %>
        <div class="err-msg"><%= error %></div><% } %>
        <input type="submit" value="Login">
        <div class="link"><a href="./signup">Sign Up</a></div>
    </form>
</div>
</body>
</html>