<%- include('header',{
    title:'Rules'
}); -%>

<div class="container">
    <h1>Як грати</h1>
<p class="rules">
    Anonymous game — проста стратегічна карткова гра.
    Правила досить прості.
    У вашій руці п'ять карт, кожна з яких має елемент, силу і колір. 
    У кожному раунді ви граєте картою, і якщо ви виграєте раунд, ви отримуєте карту, яку ви зіграли, як очко. 
    Ваша карта виграє раунд, якщо на ній є елемент, який перевершує карту вашого суперника 
    (вода перемагає вогонь, вогонь перемагає лід, лід перемагає воду) 
    або, якщо ви граєте елементом того ж типу, якщо у вас вища сила. 
    Щоб виграти гру, ви повинні зібрати мінімум три очки, де або всі елементи та кольори унікальні, 
    або де елементи однакові, але кольори унікальні</p>
</div>
</body>
</html>